@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: "Jost", serif;
    background-color: #192238;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    background: transparent;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 20px rgba(16, 95, 72, 0.381);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(250, 250, 250);
    text-decoration: none;
    cursor: pointer;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
    border-radius: 10px;
}

.navbar-container .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.7s;
    white-space: nowrap;

}

.navbar-container .navbar-menu li a:hover {
    color: #162330;
    background: rgba(118, 212, 229, 0.8);
    border: 2px solid #fff;
    text-decoration: underline;
    transition: 0.7s;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
.navbar {
    backdrop-filter: none;
}
   .navbar-container .navbar-menu {
    display: none;
flex-direction: column;
align-items: flex-start;
gap: 1.7rem !important;
position: absolute;
height: 100vh;
width: 250px;
top: 0;
right: 0;
padding: 5rem 1.5rem;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(1px);
   }

   .navbar-container .navbar-menu.active {
    display: flex;
   }


.navbar-toggle {
    display: block;
    z-index: 999;
}

.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}

@media (max-width: 480px) {
.navbar-container {
    padding: 0 1rem;
}
.navbar-logo {
    font-size: 1.7rem;
}
.navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
}
}


.right-btn {
    color: white;
}


